
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Available built documentation</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sakura.css/css/sakura.css" type="text/css">
    <!-- Stolen from https://nixos.org -->
    <link rel="apple-touch-icon" sizes="180x180" href="https://nixos.org/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://nixos.org/apple-touch-icon-precomposed.png">
    <link rel="mask-icon" href="https://nixos.org/safari-pinned-tab.svg" color="#fff">
    <link rel="icon" type="image/x-icon" href="https://nixos.org/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="https://nixos.org/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://nixos.org/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="48x48" href="https://nixos.org/favicon-48x48.png">
    <link rel="icon" type="image/svg+xml" href="https://nixos.org/favicon.svg">
    <meta name="msapplication-TileColor" content="#fff">
    <meta name="msapplication-TileImage" content="https://nixos.org/mstile-144x144.png">
</head>
<body>
    <h1>nixpkgs/NixOS documentation</h1>
    <p>Generated at {{ generated_at }}</p>
    {% for branch in branches %}
        <section id="branch-{{ branch.name }}">
            <h1><b>Branch:</b> {{ branch.name }}</h1>
            <ul>
                <li><a href="{{prefix}}{{ branch.name }}/nixpkgs/manual.html">nixpkgs manual</a></li>
                <li><a href="{{prefix}}{{ branch.name }}/nixpkgs/nixpkgs-manual.epub">nixpkgs manual (epub)</a></li>
                <li><a href="{{prefix}}{{ branch.name }}/nixos/index.html">NixOS documentation</a></li>
                <li><a href="{{prefix}}{{ branch.name }}/nixos/options.html">NixOS options</a></li>
                <li><a href="{{prefix}}{{ branch.name }}/nixos/release-notes.html">NixOS release notes</a></li>
                <li><a href="{{prefix}}{{ branch.name }}/nixpkgs.docset.xml">Zeal/Dash docset</a></li>
            </ul>
        </section>
    {% endfor %}
</body>
</html>
